[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
opencv-contrib-python = "*"
gunicorn = "*"
Jinja2 = ">=2.10.1"
itsdangerous="1.1.0"
Jinja2="2.10.1"
MarkupSafe= "1.1.1"
Werkzeug= "0.15.5"
numpy= ">=1.9.2"
scipy= ">=0.15.1"
scikit-learn= ">=0.18"
matplotlib= ">=1.4.3"
pandas= ">=0.19"
[dev-packages]

[requires]
python_version = "3.6"
