<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cow Muzzle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='asserts/custom.js') }}"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Cow Finder Using  Muzzle Similarity </h1>
  <p>Implemented with VGG19 + Distance</p> 
</div>
  
<div class="container">
  <!-- <div class="row">
    <div class=""col-6"">
      <p>Train model your here with the defaults</p>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Train</button>
    </div>
  </div> -->

  <div class="row">

  <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
        <label id='fileLbl' class="custom-file-label" for="inputGroupFile04">Choose file</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="Search"  >Search</button>
      </div>
    </div>

  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-sm-4">
      <h3 id='original_name'>Input</h3>
      <img id="original" src= "{{ url_for('static', filename='asserts/ue88p.jpg') }}" alt="" class="img-thumbnail">
      <br/>
      <br/>
    </div>
    <div class="col-sm-4">
      <h3 id='first_name'>First Match</h3>
      <img id="first" src="{{ url_for('static', filename='asserts/ue88p.jpg') }}"  alt="" class="img-thumbnail">
      <br/>
      <br/>
      <h4>Distance</h4>
      <p id='firScore'></p>
    </div>
    <div class="col-sm-4">
      <h3 id='second_name'>Second Match</h3>        
      <img id="second" src="{{ url_for('static', filename='asserts/ue88p.jpg') }}" alt="" class="img-thumbnail">
      <br/>
      <br/>
      <h4>Distance</h4>
      <p id='secScore'></p>
    </div>
  </div>
</div>

</body>
</html>